node-red/flows/deep_influx_analysis.json
[
    {
        "id": "deep_analysis_tab",
        "type": "tab",
        "label": "InfluxDB 심층 분석",
        "disabled": false,
        "info": "D100 같은 실제 태그명을 찾기 위한 심층 분석"
    },
    {
        "id": "inject_all_measurements",
        "type": "inject",
        "z": "deep_analysis_tab",
        "name": "모든 measurement 조회",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "all_measurements",
        "payloadType": "str",
        "x": 150,
        "y": 80,
        "wires": [["query_all_measurements"]]
    },
    {
        "id": "query_all_measurements",
        "type": "function",
        "z": "deep_analysis_tab",
        "name": "모든 measurement 검색",
        "func": "// 모든 measurement 이름 조회 (D100 등 찾기)\nmsg.query = `\nimport \"influxdata/influxdb/schema\"\n\nschema.measurements(bucket: \"5603a3eb-89e2-4e15-8cbb-60750c6588d3_raw\")\n`;\nreturn msg;",
        "outputs": 1,
        "x": 380,
        "y": 80,
        "wires": [["debug_all_measurements"]]
    },
    {
        "id": "debug_all_measurements",
        "type": "debug",
        "z": "deep_analysis_tab",
        "name": "전체 measurement",
        "active": true,
        "tosidebar": true,
        "console": true,
        "complete": "query",
        "targetType": "msg",
        "x": 620,
        "y": 80,
        "wires": []
    },
    {
        "id": "inject_tag_values",
        "type": "inject",
        "z": "deep_analysis_tab",
        "name": "태그 값들 조회",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "tag_values",
        "payloadType": "str",
        "x": 150,
        "y": 140,
        "wires": [["query_tag_values"]]
    },
    {
        "id": "query_tag_values",
        "type": "function",
        "z": "deep_analysis_tab",
        "name": "태그 값들 검색",
        "func": "// 모든 태그 값들 조회 (D100 등 찾기)\nmsg.query = `\nimport \"influxdata/influxdb/schema\"\n\nschema.tagValues(\n  bucket: \"5603a3eb-89e2-4e15-8cbb-60750c6588d3_raw\",\n  tag: \"_measurement\"\n)\n`;\nreturn msg;",
        "outputs": 1,
        "x": 370,
        "y": 140,
        "wires": [["debug_tag_values"]]
    },
    {
        "id": "debug_tag_values",
        "type": "debug",
        "z": "deep_analysis_tab",
        "name": "태그 값들",
        "active": true,
        "tosidebar": true,
        "console": true,
        "complete": "query",
        "targetType": "msg",
        "x": 600,
        "y": 140,
        "wires": []
    },
    {
        "id": "inject_raw_data",
        "type": "inject",
        "z": "deep_analysis_tab",
        "name": "원시 데이터 전체 조회",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "raw_data",
        "payloadType": "str",
        "x": 150,
        "y": 200,
        "wires": [["query_raw_data"]]
    },
    {
        "id": "query_raw_data",
        "type": "function",
        "z": "deep_analysis_tab",
        "name": "원시 데이터 검색",
        "func": "// 모든 컬럼과 태그를 포함한 원시 데이터 조회\nmsg.query = `\nfrom(bucket:\"5603a3eb-89e2-4e15-8cbb-60750c6588d3_raw\")\n  |> range(start:-24h)\n  |> group()\n  |> limit(n:50)\n`;\nreturn msg;",
        "outputs": 1,
        "x": 370,
        "y": 200,
        "wires": [["debug_raw_data"]]
    },
    {
        "id": "debug_raw_data",
        "type": "debug",
        "z": "deep_analysis_tab",
        "name": "원시 데이터",
        "active": true,
        "tosidebar": true,
        "console": true,
        "complete": "query",
        "targetType": "msg",
        "x": 600,
        "y": 200,
        "wires": []
    },
    {
        "id": "inject_meta_bucket",
        "type": "inject",
        "z": "deep_analysis_tab",
        "name": "메타 버킷 조회",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "meta_bucket",
        "payloadType": "str",
        "x": 150,
        "y": 260,
        "wires": [["query_meta_bucket"]]
    },
    {
        "id": "query_meta_bucket",
        "type": "function",
        "z": "deep_analysis_tab",
        "name": "메타 버킷 검색",
        "func": "// 메타 버킷에서 태그 정보 조회 (D100 등이 여기 있을 수 있음)\nmsg.query = `\nfrom(bucket:\"5603a3eb-89e2-4e15-8cbb-60750c6588d3_meta\")\n  |> range(start:-30d)\n  |> group()\n  |> limit(n:100)\n`;\nreturn msg;",
        "outputs": 1,
        "x": 370,
        "y": 260,
        "wires": [["debug_meta_bucket"]]
    },
    {
        "id": "debug_meta_bucket",
        "type": "debug",
        "z": "deep_analysis_tab",
        "name": "메타 버킷",
        "active": true,
        "tosidebar": true,
        "console": true,
        "complete": "query",
        "targetType": "msg",
        "x": 600,
        "y": 260,
        "wires": []
    },
    {
        "id": "inject_field_keys",
        "type": "inject",
        "z": "deep_analysis_tab",
        "name": "필드 키 조회",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "field_keys",
        "payloadType": "str",
        "x": 150,
        "y": 320,
        "wires": [["query_field_keys"]]
    },
    {
        "id": "query_field_keys",
        "type": "function",
        "z": "deep_analysis_tab",
        "name": "필드 키 검색",
        "func": "// 모든 필드 키 조회 (D100이 필드로 저장되었을 수도 있음)\nmsg.query = `\nimport \"influxdata/influxdb/schema\"\n\nschema.fieldKeys(\n  bucket: \"5603a3eb-89e2-4e15-8cbb-60750c6588d3_raw\",\n  predicate: (r) => true\n)\n`;\nreturn msg;",
        "outputs": 1,
        "x": 370,
        "y": 320,
        "wires": [["debug_field_keys"]]
    },
    {
        "id": "debug_field_keys",
        "type": "debug",
        "z": "deep_analysis_tab",
        "name": "필드 키들",
        "active": true,
        "tosidebar": true,
        "console": true,
        "complete": "query",
        "targetType": "msg",
        "x": 600,
        "y": 320,
        "wires": []
    },
    {
        "id": "inject_d100_search",
        "type": "inject",
        "z": "deep_analysis_tab",
        "name": "D100 직접 검색",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "d100_search",
        "payloadType": "str",
        "x": 150,
        "y": 380,
        "wires": [["query_d100_search"]]
    },
    {
        "id": "query_d100_search",
        "type": "function",
        "z": "deep_analysis_tab",
        "name": "D100 패턴 검색",
        "func": "// D100 패턴으로 직접 검색\nmsg.query = `\nfrom(bucket:\"5603a3eb-89e2-4e15-8cbb-60750c6588d3_raw\")\n  |> range(start:-30d)\n  |> filter(fn: (r) => r._measurement =~ /D.*/ or r._field =~ /D.*/ or contains(value: \"D\", set: [r._measurement, r._field]))\n  |> limit(n:20)\n`;\nreturn msg;",
        "outputs": 1,
        "x": 370,
        "y": 380,
        "wires": [["debug_d100_search"]]
    },
    {
        "id": "debug_d100_search",
        "type": "debug",
        "z": "deep_analysis_tab",
        "name": "D100 검색 결과",
        "active": true,
        "tosidebar": true,
        "console": true,
        "complete": "query",
        "targetType": "msg",
        "x": 620,
        "y": 380,
        "wires": []
    }
]

