node-red/debug_influx_query.json
[
    {
        "id": "debug_influx_tab",
        "type": "tab",
        "label": "InfluxDB 구조 분석",
        "disabled": false,
        "info": "InfluxDB 데이터 구조를 분석하기 위한 디버그 플로우"
    },
    {
        "id": "inject_debug",
        "type": "inject",
        "z": "debug_influx_tab",
        "name": "버킷 구조 분석 시작",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "start_analysis",
        "payloadType": "str",
        "x": 150,
        "y": 100,
        "wires": [["query_measurements"]]
    },
    {
        "id": "query_measurements",
        "type": "function",
        "z": "debug_influx_tab",
        "name": "측정값 조회 쿼리",
        "func": "// 모든 measurement 조회\nmsg.query = `\nfrom(bucket:\"5603a3eb-89e2-4e15-8cbb-60750c6588d3_raw\")\n  |> range(start:-7d)\n  |> group(columns: [\"_measurement\"])\n  |> distinct(column: \"_measurement\")\n  |> limit(n:50)\n`;\nreturn msg;",
        "outputs": 1,
        "x": 380,
        "y": 100,
        "wires": [["debug_measurements"]]
    },
    {
        "id": "debug_measurements",
        "type": "debug",
        "z": "debug_influx_tab",
        "name": "측정값 목록",
        "active": true,
        "tosidebar": true,
        "console": true,
        "complete": "query",
        "targetType": "msg",
        "x": 620,
        "y": 100,
        "wires": []
    },
    {
        "id": "inject_tags",
        "type": "inject",
        "z": "debug_influx_tab",
        "name": "태그 키 분석 시작",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "start_tag_analysis",
        "payloadType": "str",
        "x": 150,
        "y": 200,
        "wires": [["query_tag_keys"]]
    },
    {
        "id": "query_tag_keys",
        "type": "function",
        "z": "debug_influx_tab",
        "name": "태그 키 조회 쿼리",
        "func": "// 모든 태그 키 조회\nmsg.query = `\nfrom(bucket:\"5603a3eb-89e2-4e15-8cbb-60750c6588d3_raw\")\n  |> range(start:-7d)\n  |> keys()\n  |> keep(columns: [\"_value\"])\n  |> distinct()\n  |> limit(n:100)\n`;\nreturn msg;",
        "outputs": 1,
        "x": 370,
        "y": 200,
        "wires": [["debug_tag_keys"]]
    },
    {
        "id": "debug_tag_keys",
        "type": "debug",
        "z": "debug_influx_tab",
        "name": "태그 키 목록",
        "active": true,
        "tosidebar": true,
        "console": true,
        "complete": "query",
        "targetType": "msg",
        "x": 610,
        "y": 200,
        "wires": []
    },
    {
        "id": "inject_sample",
        "type": "inject",
        "z": "debug_influx_tab",
        "name": "샘플 데이터 조회",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "start_sample",
        "payloadType": "str",
        "x": 150,
        "y": 300,
        "wires": [["query_sample_data"]]
    },
    {
        "id": "query_sample_data",
        "type": "function",
        "z": "debug_influx_tab",
        "name": "샘플 데이터 조회",
        "func": "// 최근 샘플 데이터 조회 (모든 컬럼 포함)\nmsg.query = `\nfrom(bucket:\"5603a3eb-89e2-4e15-8cbb-60750c6588d3_raw\")\n  |> range(start:-1h)\n  |> limit(n:5)\n`;\nreturn msg;",
        "outputs": 1,
        "x": 370,
        "y": 300,
        "wires": [["debug_sample_data"]]
    },
    {
        "id": "debug_sample_data",
        "type": "debug",
        "z": "debug_influx_tab",
        "name": "샘플 데이터",
        "active": true,
        "tosidebar": true,
        "console": true,
        "complete": "query",
        "targetType": "msg",
        "x": 600,
        "y": 300,
        "wires": []
    }
]

